<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="StdWebServiceURL" value="http://192.168.58.128/MESws2005_Delta_std" />
    <add key="CusWebServiceURL" value="http://192.168.58.128/MESws2005_Delta_CUS" />
    <!--<add key="StdWebServiceURL" value="http://jj/MESws2005_Delta_std" />
    <add key="CusWebServiceURL" value="http://jj/MESws2005_Delta_CUS" />-->
    <!--<add key="StdWebServiceURL" value="http://tymes-ap01/MESws2005_Delta_std" />
    <add key="CusWebServiceURL" value="http://tymes-ap01/MESws2005_Delta_CUS" />-->
    <add key="EQPStatus" value="Y" /><!--首件完成-->
    <add key="EQPShift" value="20190304MorningShift" /><!--最後完成首件班別-->
    <add key="OPNo" value="ASSY" /><!--作業站編號 ASSY-->
    <add key="PDLineNo" value="ASSY-5" /><!--生產線別編號-->
    <add key="OPGroupNo" value="0030" /><!--作業站群組編號-->
    <add key="DioNo" value="200" /><!--整流值料號前三碼-->
    <add key="OutputData" value="C:\\OUTPUT\\" /><!--噴印機儲存輸出檔案位置-->
    <add key="TestRange" value="0.1" />


    <!--機台設定-->
    <add key="IP" value="192.168.200.180" />
    <add key="Port" value="10031" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="connStr" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.144.111)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=tymesdb01)));User Id=messeries;Password=sa;Connection Timeout=120;connection lifetime=30;pooling=true;enlist=true;min pool size=1;max pool size=50;"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>