<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>

    <target xsi:type="File"
    name="Info_Log"
    fileName="${basedir}/logs/${date:format=yyyy-MM-ddT}.log"
    layout="${longdate} ${message}"
    archiveFileName="${basedir}/logs/archives/${date:format=yyyy-MM-ddTmm}.{#}.txt"
    archiveEvery="Day"
    archiveNumbering="Rolling"
    maxArchiveFiles="30"
    concurrentWrites="true"
    keepFileOpen="false"
    encoding="UTF-8" />

    <target xsi:type="File"
    name="Error_Log"
    fileName="${basedir}/logs/${date:format=yyyy-MM-ddT_Error}.log"
    layout="${time} ${message}"
    archiveFileName="${basedir}/logs/archives/${date:format=yyyy-MM-ddTmm}.{#}.txt"
    archiveEvery="Day"
    archiveNumbering="Rolling"
    maxArchiveFiles="30"
    concurrentWrites="true"
    keepFileOpen="false"
    encoding="UTF-8" />


    <target xsi:type="File"
    name="Warn_Log"
    archiveAboveSize="10240000"
    fileName="C:/AOICimesLog/Logs/Error_Log/${shortdate}/${date:format=yyyy-MM-ddTHH}.log"
    layout="${time} ${message}"
    encoding="utf-8"/>


  </targets>

  <rules>


    <!-- add LabView logging rules here -->

    <!--<logger name="*" minlevel="Trace"                writeTo="Info_Log" />-->
    <!--<logger name="*" minlevel="Debug"                writeTo="Error_Log" />-->
    <logger name="*" minlevel="Info"                 writeTo="Info_Log" />
    <!--<logger name="*" minlevel="Warn"                 writeTo="Error_Log" />-->
    <logger name="*" minlevel="Error"                writeTo="Error_Log" />

  </rules>
</nlog>


