<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="connStr" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.144.111)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=tymesdb01)));User Id=messeries;Password=sa;Connection Timeout=120;connection lifetime=30;pooling=true;enlist=true;min pool size=1;max pool size=50;"/>

    <!--整流值料號前三碼-->
    <add key="ChamberID" value="2A" />

    <!--警告前時間(分)-->
    <add key="WarnTime" value="10" />

    <!--閃爍時間On and Off 迴圈(ms)-->
    <add key="EQPDelayTime" value="500" />

    <!--機台設定-->
    <add key="IP" value="192.168.1.3" />
    <add key="Port" value="502" />
  </appSettings>
</configuration>