<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--<add key="StdWebServiceURL" value="http://tymes-ap03/MESws2005_Delta_std" />-->
    <add key="StdWebServiceURL" value="http://tymes-ap03/MESws2005_Delta_std" />
    <add key="CusWebServiceURL" value="http://tymes-ap03/MESws2005_Delta_CUS" />
    <add key="OPNo" value="LASER" />
    <!--作業站編號 ASSY-->
    <add key="PDLineNo" value="ASSY-1" />
    <!--生產線別編號-->
    <add key="OPGroupNo" value="0030" />
    <!--開啟主頁面設定，frmMain=開啟主畫面、frmReturnData=開啟重工畫面-->
    <add key="MainProgram" value="frmMain" />
    <!--機台讀取檔案路徑-->
    <add key="EquipmentFilePath" value="D:\MarkingBuilderFile\" />
    <add key="connStr" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.144.111)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=tymesdb01)));User Id=messeries;Password=sa;Connection Timeout=120;connection lifetime=30;pooling=true;enlist=true;min pool size=1;max pool size=50;"/>

  </appSettings>
</configuration>