<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <Common.Properties.Settings>
      <setting name="Common_wsUSR_wsUSR" serializeAs="String">
        <value>http://jj/MESws2005_Delta_STD/wsUSR/wsUSR.asmx</value>
      </setting>
      <setting name="Common_wsOP_wsOP" serializeAs="String">
        <value>http://localhost/MESws2005_Delta_STD/wsOP/wsOP.asmx</value>
      </setting>
      <setting name="Common_wsWIP_wsWIP" serializeAs="String">
        <value>http://jj/MESws2005_Delta_STD/wsWIP/wsWIP.asmx</value>
      </setting>
      <setting name="Common_wsPRD_wsPRD" serializeAs="String">
        <value>http://jj/MESws2005_Delta_STD/wsPRD/wsPRD.asmx</value>
      </setting>
      <setting name="Common_wsOE_wsOE" serializeAs="String">
        <value>http://localhost/MESws2005_Delta_STD/wsOE/wsOE.asmx</value>
      </setting>
      <setting name="Common_wsMTL_wsMTL" serializeAs="String">
        <value>http://localhost/MESws2005_Delta_STD/wsMTL/wsMTL.asmx</value>
      </setting>
      <setting name="Common_wsEQP_wsEQP" serializeAs="String">
        <value>http://localhost/MESws2005_Delta_std/wsEQP/wsEQP.asmx</value>
      </setting>
      <setting name="Common_wsEQP_Delta_wsEQP" serializeAs="String">
        <value>http://localhost/MESws2005_Delta_CUS/wsEQP/wsEQP.asmx</value>
      </setting>
    </Common.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>