<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--<add key="StdWebServiceURL" value="http://tymes-ap01/MESws2005_Delta_std" />-->
    <add key="StdWebServiceURL" value="http://localhost/MESws2005_Delta_std" />
    <add key="CusWebServiceURL" value="http://tymes-ap01/MESws2005_Delta_CUS" />
    <!--作業站編號 ASSY-->
    <add key="OPNo" value="LASER" />
    <add key="connStr" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.144.111)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=tymesdb01)));User Id=messeries;Password=sa;Connection Timeout=120;connection lifetime=30;pooling=true;enlist=true;min pool size=1;max pool size=50;"/>


  </appSettings>
</configuration>